{% set title = "Long Beach" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="./main.css">
    <title>{{ title }}</title>
</head>
<body>
<div class="wrap" id="home">
    {% include "src/templates/parts/loader.njk" %}
    {% include "src/templates/parts/header.njk" %}
    <div class="inner">
        <main class="main">
            {% block content %}{% endblock %}
        </main>
    </div>
    {% include "src/templates/parts/footer.njk" %}
</div>

<script src="./main.bundle.js"></script>
</body>
</html>