{% extends "src/templates/layout/main.njk" %}

{% block content %}
    {% include "src/templates/parts/intro.njk" %}
    {% include "src/templates/parts/popular.njk" %}
    {% include "src/templates/parts/blog.njk" %}
    {% include "src/templates/parts/cta.njk" %}
{% endblock %}