{% set blogsList = [
    {
        src: "assets/img1.jpg",
        title: "Lipsum cound be headline",
        content: "Lorem ipsum sit amet, consectetur adipidicing elit, sed do eiusmod tempor
                        incididunt tn labore et dolore magna aliqua. Ut enim ad minim viniam."
    },
    {
        src: "assets/img2.jpg",
        title: "Lipsum cound be headline",
        content: "Lorem ipsum sit amet, consectetur adipidicing elit, sed do eiusmod tempor
                        incididunt tn labore et dolore magna aliqua. Ut enim ad minim viniam."
    }
] %}

<div class="blog" id="blog">
    <h2 class="title">Recent Blogs by User</h2>
    <div class="blog__content">
        {% for item in blogsList %}
            <div class="blog__item">
                <img src="{{ item.src }}" class="blog__img preload">
                <div class="blog__block">
                    <div>
                        <div class="blog__title">{{ item.title }}</div>
                        <div class="text blog__text">{{ item.content }}</div>
                        <button class="btn blog__btn">Read More</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>