<footer class="footer" id="contact">
    <div class="footer__inner">
        <div class="footer__block">
            <div class="footer__text">Beach Surfing</div>
            <p>Copyright © 2018 All Rights Reserved</p>
        </div>
        <div class="footer__block">
            <p>Designed by <span class="footer_by">Rikon Rahman</span></p>
        </div>
    </div>
</footer>