{% set linksList = [
    {
        href: "#home",
        text: "Home"
    },
    {
        href: "#about",
        text: "About"
    },
    {
        href: "#blog",
        text: "Blog"
    },
    {
        href: "#contact",
        text: "Contact"
    }
] %}

<header class="header inner">
    <a href="#" class="logo">
        <img src="assets/logo.png" class="logo__img preload">
    </a>
    <nav class="nav js_nav">
        {% for link in linksList %}
            <a href="{{ link.href }}" class="nav__link {{ 'active' if loop.first }}">{{ link.text }}</a>
        {% endfor %}
    </nav>
</header>