{% set reviewsList = [
    {
        content : "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed incididunt ut labore et dolore magn.",
        author: "Steve Woz"
    },
    {
        content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed incididunt ut labore et dolore magn.",
        author: "David Collum"
    }
] %}

{% set videosList = [
    {
        src: "assets/video.mp4",
        poster: "assets/video2.jpg"
    },
    {
        src: "assets/video.mp4",
        poster: "assets/video3.jpg"
    }
] %}

<div class="intro js_intro">
    <h1 class="headline">Long Beach Surfing Institute</h1>
    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </div>
    <div class="intro__content">
        <div class="reviews">
            <div class="subtitle">Recent Reviews</div>
            <div class="reviews__list">
                {% for review in reviewsList %}
                    <div class="review">
                        <div class="review__text">
                            {{ review.content }}
                        </div>
                        <div class="review__author">{{ review.author }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="videos">
            <div class="videos__block">
                <div class="video video_main">
                    <video src="assets/video.mp4" class="video__video js_video" muted
                           poster="assets/video1.jpg"></video>
                    <div class="video__btn js_play"></div>
                </div>
            </div>
            <div class="videos__block">
                <div class="subtitle">User Videos</div>
                <div class="videos__list">
                    {% for video in videosList %}
                        <div class="video video__item">
                            <video src="{{ video.src}}" class="video__video js_video" muted
                                   poster="{{ video.poster }}"></video>
                            <div class="video__btn js_play"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>