<div class="loader">
    <img src="assets/surfboard.svg" class="loader__img">
    <div class="loader__progress">
        <p class="loader__progress--inner" id="progress"></p>
    </div>
    <p class="loader__value" id="progress-value">0%</p>
</div>