{% set slidesList = [
    {
        src: "assets/1.jpg",
        title: "Simon Adward",
        text: "5,000 students"
    },
    {
        src: "assets/2.jpg",
        title: "Elliana D’Soza",
        text: "4,350 students"
    },
    {
        src: "assets/3.jpg",
        title: "Joseph Bardon",
        text: "3,248 students"
    }
] %}

<div class="popular" id="about">
    <h2 class="title">Popular Instructors</h2>
    <div class="slider">
        <div class="slider__container swiper-container">
            <div class="slider__wrapper swiper-wrapper">
                {% for i in range(0, 3) -%}
                    {% for slide in slidesList %}
                        <div class="slider__item swiper-slide">
                            <img src="{{ slide.src }}" class="slider__img preload">
                            <div class="slider__text">{{ slide.title }}</div>
                            <div class="slider__note">{{ slide.text }}</div>
                        </div>
                    {% endfor %}
                {%- endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>