@import "reset";
@import "keyframes";

@font-face {
  font-family: "Avenir-Book";
  src: url("./fonts/Avenir-Book.ttf") format("opentype");
}

@font-face {
  font-family: "Avenir-BookOblique";
  src: url("./fonts/Avenir-BookOblique.ttf") format("opentype");
}

@font-face {
  font-family: "Avenir-Heavy";
  src: url("./fonts/Avenir-Heavy.ttf") format("opentype");
}

@font-face {
  font-family: "Avenir-Roman";
  src: url("./fonts/Avenir-Roman.ttf") format("opentype");
}

.wrap {
  background-color: #fff;
  color: #000000;
  overflow: hidden;
}

.wrap * {
  box-sizing: border-box;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 20;
  color: #aaa;

  &__ {
    &img {
      width: 150px;
      animation: pulse 2.5s infinite;
    }

    &progress {
      width: 200px;
      height: 10px;
      background: #eee;
      margin-top: 20px;
      border-radius: 5px;
      position: relative;
      overflow: hidden;

      &--inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: #F7AD7C;
        transition: width .3s ease;
      }
    }

    &value {
      margin-top: 5px;
    }
  }

  &.animate {
    animation: fadeOut ease 1s forwards;
    pointer-events: none;
  }
}

.headline {
  font-family: "Playfair Display", sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 0.57px;
}

.title {
  font-family: "Playfair Display", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 0.41px;
}

.subtitle {
  font-family: "Playfair Display", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 0.29px;
  text-align: left;
}

.text {
  font-family: "Avenir-Roman", sans-serif;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.06px;
  max-width: 590px;
  margin: 30px auto 0;
}

.btn {
  font-family: "Avenir-Heavy", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.06px;
  min-width: 141px;
  border: 1px solid #e5e5e5;
  background-color: transparent;
  padding: 9px;
  outline: none;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 92px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
}

.animate_el {
  animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.logo {
  &__ {
    &img {
      max-width: 35px;
    }
  }
}

.nav {
  &__ {
    &link {
      font-family: "Avenir-Book", sans-serif;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      color: #aaaaaa;
      margin-left: 65px;
      transition: color .2s;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        color: #111111;
        font-weight: 900;
        transition: color .2s;
      }

      &.active {
        font-family: "Avenir-Heavy", sans-serif;
        color: #111111;
      }
    }
  }
}

.main {
  text-align: center;
  padding-top: 240px;
}

.intro {
  &__ {
    &content {
      padding-top: 212px;
      display: flex;
    }
  }
}

.reviews {
  margin-right: 153px;
  flex-shrink: 0;

  &__ {
    &list {

    }
  }
}

.review {
  text-align: left;
  padding-bottom: 23px;
  border-bottom: 1px solid #e7e7e7;
  max-width: 260px;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }

  &__ {
    &text {
      color: #999999;
      font-family: "Avenir-BookOblique", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 31px;
      padding-bottom: 15px;
      font-style: italic;
      position: relative;
      z-index: 2;

      &::after {
        content: '';
        position: absolute;
        top: 4px;
        left: -16px;
        display: block;
        width: 36px;
        height: 29px;
        background-image: url("./assets/quotes.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: -1;
      }
    }

    &author {
      font-family: "Avenir-Heavy", sans-serif;
      font-size: 16px;
      font-weight: 400;
      position: relative;
      padding-left: 15px;

      &::before {
        content: '-';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }
}

.videos {
  display: flex;
  align-items: flex-end;

  &__ {
    &block {

    }

    &list {

    }
  }
}

.video {
  width: 280px;
  height: 155px;
  position: relative;
  overflow: hidden;

  &_ {
    &main {
      width: 617px;
      height: 436px;
      margin-right: 131px;

      .video__btn {
        bottom: 32px;
        left: 24px;
      }
    }
  }

  &__ {
    &item:not(:last-child) {
      margin-bottom: 36px;
    }

    &video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &btn {
      position: absolute;
      bottom: -15px;
      left: -10px;
      width: 56px;
      height: 56px;
      background-color: #ffffff;
      border-radius: 50%;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 11px;
        background-image: url("./assets/play-icon.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }

      &.hide {
        display: none;
      }
    }
  }
}

.popular {
  padding-top: 230px;
}

.slider {
  margin: 80px auto 0;
  overflow: hidden;
  max-width: 1250px;

  &__ {
    &container {
      padding-bottom: 60px;
      overflow: visible;
      max-width: 1100px;
    }
    &img {
      width: 100%;
      object-fit: cover;
      height: 353px;
    }

    &item {
      text-align: center;
    }

    &text {
      margin-top: 38px;
      font-family: "Playfair Display", sans-serif;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 0.28px;
    }

    &note {
      color: #2ab738;
      font-family: "Avenir-Book", sans-serif;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.14px;
      margin-top: 19px;
    }
  }
}

.swiper- {
  &button- {
    &next, &prev {
      width: 36px;
      height: 67px;
      color: #000000;
      transform: translateY(-80%);
      outline: none;

      &::before, &::after {
        font-size: 60px;
      }

      &.swiper-button-disabled {
        opacity: 0;
      }
    }

    &prev {
      left: -70px;
    }

    &next {
      right: -70px;
    }
  }

  &pagination {
    bottom: 0;
    &-bullet {
      width: 14px;
      height: 14px;
      background-color: transparent;
      border: 2px solid #000000;
      opacity: 1;
      margin: 0 6px;

      &-active {
        background-color: #000000;
      }
    }
  }
}

.blog {
  padding-top: 196px;

  &__ {
    &content {
      padding-top: 91px;
    }

    &item {
      display: flex;
      justify-content: center;
      text-align: left;
      margin-bottom: 190px;

      &:nth-child(2n) {
        flex-direction: row-reverse;

        .blog__block {
          margin-left: 0;
          margin-right: 77px;
        }
      }
    }

    &img {
      width: 523px;
      height: 353px;
      object-fit: cover;
    }

    &block {
      margin-left: 77px;
      display: flex;
      align-items: center;
      width: 500px;
    }

    &title {
      font-family: "Playfair Display", sans-serif;
      font-size: 40px;
      font-style: italic;
      letter-spacing: 0.33px;
      margin-bottom: 30px;
    }

    &text {
      color: #444444;
      margin-bottom: 56px;
      max-width: 380px;
      margin-left: 0;
    }

    &btn {

    }
  }
}

.cta {
  &__btn {
    margin-top: 50px;
  }
}

.footer {
  margin-top: 145px;
  padding: 48px 0 38px;
  border-top: 1px solid #f2ede7;
  color: #9f9f9f;
  font-family: "Avenir-Roman", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;

  &__ {
    &inner {
      max-width: 1145px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &block {

    }

    &text {
      color: #000000;
      font-family: "Playfair Display", sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 19.09px;
      margin-bottom: 15px;
    }
  }

  &_by {
    color: #000000;
    font-family: "Avenir-Heavy", sans-serif;
  }
}

@import "media";